In [ ]:
## D12_HW

In [96]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = "./data/"
df_train = pd.read_csv(data_path + "titanic_train.csv")
df_test = pd.read_csv(data_path + "titanic_test.csv")

print(df_train.shape)
df_train.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [97]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [98]:
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [99]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype,feature in zip(df.dtypes,df.columns):
    if dtype == np.int64 or dtype == np.float:
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [100]:
df = df[num_features]
df

     Pclass   Age  SibSp  Parch      Fare
0         3  22.0      1      0    7.2500
1         1  38.0      1      0   71.2833
2         3  26.0      0      0    7.9250
3         1  35.0      1      0   53.1000
4         3  35.0      0      0    8.0500
..      ...   ...    ...    ...       ...
413       3   NaN      0      0    8.0500
414       1  39.0      0      0  108.9000
415       3  38.5      0      0    7.2500
416       3   NaN      0      0    8.0500
417       3   NaN      1      1   22.3583

[1309 rows x 5 columns]

In [101]:
# 空值補 -1, 做羅吉斯迴歸
train_num = train_Y.shape[0]
df_m1 = df.fillna(-1)
train_X = df_m1[:train_num]
# estimator = LogisticRegression()
estimator = LogisticRegression(solver="liblinear") 
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6960299128976762

In [102]:
## 補平均值
train_num = train_Y.shape[0]
df_m1 = df.fillna(df.mean())
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear") 
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6981761033723469

In [103]:
train_num = train_Y.shape[0]
df_m1 = df.fillna(-1)
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver='liblinear')
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6960299128976762

In [104]:
train_num = train_Y.shape[0]
df_0 = df.fillna(0)
train_X = df_0[:train_num]
estimator = LogisticRegression(solver='liblinear')
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6971535084032942

## 平均值的方式最好!!

## 使用不同的標準化方式 ( 原值 / 最小最大化 / 標準化 )，搭配羅吉斯迴歸模型，何者效果最好?

In [105]:
# 原值
df = df.fillna(df.mean())
train_num = train_Y.shape[0]
train_X = df[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6981761033723469

In [108]:
# 最小最大化
train_num = train_Y.shape[0]
df_m1 = MinMaxScaler().fit_transform(df)
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear")
cross_val_score(estimator,train_X,train_Y,cv=5).mean()

0.6993501991462476

In [107]:
## 標準化
train_num = train_Y.shape[0]
df_m1 = StandardScaler().fit_transform(df)
train_X = df_m1[:train_num]
estimator = LogisticRegression(solver="liblinear") 
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6959413955734954

## 最大最小最好！